In [1]:
import pandas as pd
import numpy as np

raw_data=pd.read_csv('data.csv')
raw_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [2]:
i=list(raw_data.columns)

In [3]:
for l in i:
    print('---------------------------')
    print(l)
    print(raw_data[l].value_counts())
    print('')

---------------------------
age
54    25
48    19
52    17
55    15
49    15
46    13
53    12
43    12
50    12
39    11
41    11
47    10
56    10
51     9
58     9
59     8
37     8
45     8
44     7
42     7
40     7
38     7
35     5
57     5
36     5
32     4
34     4
65     3
60     2
33     2
31     2
61     2
62     2
29     2
30     1
66     1
63     1
28     1
Name: age, dtype: int64

---------------------------
sex
1    213
0     81
Name: sex, dtype: int64

---------------------------
cp
4    123
2    106
3     54
1     11
Name: cp, dtype: int64

---------------------------
trestbps
120    65
130    54
140    50
150    23
110    21
160    20
125     8
100     6
180     6
135     5
170     5
145     5
112     3
122     2
115     2
118     2
124     2
155     1
113     1
106     1
138     1
108     1
200     1
?       1
128     1
132     1
136     1
98      1
92      1
105     1
142     1
190     1
Name: trestbps, dtype: int64

---------------------------
chol
?      23
246     5
230     5
275     5
211     4
       ..
338     1
167     1
269     1
190     1
603     1
Name: chol, Length: 154, dtype: int64

---------------------------
fbs
0    266
1     20
?      8
Name: fbs, dtype: int64

---------------------------
restecg
0    235
1     52
2      6
?      1
Name: restecg, dtype: int64

---------------------------
thalach
150    29
140    21
130    17
170    14
160    13
       ..
139     1
153     1
119     1
178     1
129     1
Name: thalach, Length: 72, dtype: int64

---------------------------
exang
0    204
1     89
?      1
Name: exang, dtype: int64

---------------------------
oldpeak
0.0    189
1.0     41
2.0     31
1.5     16
3.0      9
2.5      3
0.5      2
0.8      1
5.0      1
4.0      1
Name: oldpeak, dtype: int64

---------------------------
slope
?       190
2.00     91
1.00     12
3.00      1
Name: slope, dtype: int64

---------------------------
ca
?       291
0.00      3
Name: ca, dtype: int64

---------------------------
thal
?       266
7.00     11
6.00     10
3.00      7
Name: thal, dtype: int64

---------------------------
target
0    188
1    106
Name: target, dtype: int64

In [4]:
raw_data['trestbps'].replace({'?':120,'120':120},inplace=True)
raw_data['fbs'].replace({'?':0,'0':0},inplace=True)
raw_data['restecg'].replace({'?':0,'0':0},inplace=True)
raw_data['exang'].replace({'?':0,'0':0},inplace=True)
raw_data['thalach'].replace({'?':150,'150':150},inplace=True)

In [5]:
raw_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6.00,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [6]:
raw_data['chol'].replace({'?':130},inplace=True)

In [7]:
raw_data['slope'].replace({'?':2,'2.00':2},inplace=True)

In [8]:
raw_data['ca'].replace({'?':1},inplace=True)

In [9]:
raw_data['target'].value_counts()

0    188
1    106
Name: target, dtype: int64

In [10]:
new_data=raw_data.drop('thal',axis=1)

In [11]:
data=new_data.sample(frac=1).reset_index(drop=True)

x=data.drop('target',axis=1)
y=data['target'].values.reshape(-1,1)

In [12]:
x.shape,y.shape

((294, 12), (294, 1))

In [13]:
from sklearn.model_selection import train_test_split as tts
train_x,test_x,train_y,test_y=tts(x,y,random_state=56,test_size=.30)

In [14]:

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)


#train_x.shape
#train_y.shape
#test_x.shape
#test_y.shape


train_x.shape
test_x.shape

(89, 12)

In [15]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(train_x,train_y.ravel())

logreg.score(train_x,train_y)

Pred = logreg.predict(test_x)
logreg.score(test_x,test_y)

C:\Users\Ajay\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8764044943820225

In [16]:
logreg.score(test_x,test_y)

0.8764044943820225

In [17]:
from sklearn.ensemble import RandomForestClassifier 
rf=RandomForestClassifier()

rf.fit(train_x,train_y)

C:\Users\Ajay\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
rf.score(train_x,train_y),rf.score(test_x,test_y)

(0.975609756097561, 0.8426966292134831)